@import "tailwindcss";

.hero{
    background-image: url('../src/assets/hero.jpg');
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

@layer components {
  .swiper-button-next,
  .swiper-button-prev {
    @apply text-indigo-600 hover:text-indigo-800 transition-colors duration-300;
  }
}
@layer components {
  .leaflet-popup-content-wrapper {
    @apply bg-yellow-100 text-gray-800 font-semibold rounded-xl shadow-lg;
  }

  .leaflet-popup-tip {
    @apply bg-yellow-100;
  }
}

@layer components {
  .swiper-button-next,
  .swiper-button-prev {
    @apply text-indigo-600 hover:text-indigo-800 transition-colors duration-300;
  }
}

.questions{
  background-image: url('./assets/wohnung3.jpeg');
}

@layer utilities {
  .animate-fade-in {
    animation: fadeInUp 0.6s ease-out forwards;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}